.preview-hider-button {
  white-space: nowrap;
  padding: 3px 6px;
  min-width: unset;
}

.preview-hider-hidden .embedWrapper-lXpS3L {
  display: none !important;
}

.preview-hider-hidden-suffix {
  color: var(--text-muted);
  font-size: 0.625em;
  margin-left: .3em;
  user-select: none;
  line-height: 1;
}
